<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Math Task APP</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=latin-ext" rel="stylesheet">
</head>
<body>
<h1  th:inline="text">Hello [[${#httpServletRequest.remoteUser}]] In Math Task APP!</h1>

<main class="crud container">
    <section class="datatable">
        <h2>Add a new MathT ask</h2>
        <form
                class="datatable__row datatable__row--add"
                method="POST"
                action="http://localhost:8080/v1/mathTask/createMathTask"
                data-task-add-form
        >
            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    First number
                </label>
                <input type="number" name="A" placeholder="A" required minlength="1">
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    Task type
                </label>
                <input type="text" name="Task type" placeholder="Task type"  maxlength="1">
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--input-section">
                <label class="datatable__input-label">
                    Second number
                    <input type="number" name="B" placeholder="B" required minlength="1">
                </label>
            </fieldset>

            <fieldset class="datatable__row-section datatable__row-section--button-section">
                <button type="submit" data-task-add-button class="datatable__button">Add a task</button>
            </fieldset>
        </form>
    </section>
    <section class="datatable">
        <h2>Tasks from the API</h2>
        <div class="datatable__tasks-container" data-tasks-container></div>
    </section>
</main>

<div class="template" data-datatable-row-template>
    <form class="datatable__row" data-task-id="0">
        <fieldset class="datatable__row-section datatable__row-section--input-section" data-task-name-section>
            <label class="datatable__input-label">
                First number
            </label>
            <input type="number" name="A" placeholder="Insert new Number" data-task-firstNum-input required minlength="1">
            <p class="datatable__field-value" data-task-firstNum-paragraph></p>
        </fieldset>
        <fieldset class="datatable__row-section datatable__row-section--input-section" data-task-type-section>
            <label class="datatable__input-label">
                Task type
            </label>
            <input type="text" name="Task type" placeholder="Insert new Task type" data-task-type-input maxlength="1">
            <p class="datable__field-value" data-task-type-paragraph></p>
        </fieldset>
        <fieldset class="datatable__row-section datatable__row-section--input-section" data-task-secNum-input required minlenght="1">
            <label class="datatable__input-label">
                Second number
            </label>
            <input type="number" name="B" placeholder="Insert new Number" data-task-secondNum-input required minlength="1">
            <p class="datable__field-value" data-task-secondNum-paragraph></p>
        </fieldset>

        <div class="datatable__row-section-wrapper">
            <fieldset class="datatable__row-section datatable__row-section--button-section">
                <button type="button" data-task-submit-update-button class="datatable__button datatable__button--editing ">Submit update</button>
                <button type="button" data-task-edit-abort-button class="datatable__button datatable__button--editing">Abort update</button>
                <button type="button" data-task-edit-button class="datatable__button">Edit</button>
                <button type="button" data-task-delete-button class="datatable__button">Delete</button>
            </fieldset>

</div>



</form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<script src="jquery-3.2.1.min.js"></script>
<script src="script.js"></script>
</body>
</html>