<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>CRUD</title>
    <link rel="stylesheet" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i ;subset=latin-ext"
          rel="stylesheet"/>
</head>
<body>

<h1 class="kodilla-heading kodilla-heading--main">Lest's do some Math</h1>

<main class="crud container">
    <section class="datatable">
        <h2>Tasks from the API</h2>
        <div class="datatable__tasks-container" data-tasks-container  ></div>
    </section>
</main>
<div class="template" data-datatable-row-template>
    <form class="datatable__row" data-task-id="0">
        <fieldset class="datatable__row-section datatable__row-section--input-section" data-task-firstNumber-section>
            <label class="datatable__input-label">
                First number
            </label>
            <p class="datatable__field-value" data-task-firstNumber-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--input-section" data-task-taskType-section>
            <label class="datatable__input-label">
                Task type
            </label>
            <p class="datatable__field-value" data-task-taskType-paragraph></p>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--input-section" data-task-secondNumber-section>
            <label class="datatable__input-label">
                Second number
            </label>

            <p class="datatable__field-value" data-task-secondNumber-paragraph></p>
        </fieldset>



        <fieldset class="datatable__row-section datatable__row-section--input-section">
            <label class="datatable__input-label">
                Reply
            </label>
            <input type="number" name="reply" placeholder="reply" required minlength="1"/>
        </fieldset>

        <fieldset class="datatable__row-section datatable__row-section--button-section">
            <button type="button" data-task-submit-update-button class="datatable__button datatable__button--editing ">Submit answer</button>
            <button type="button" data-task-edit-abort-button class="datatable__button datatable__button--editing">Abort</button>
            <button type="button" data-task-edit-button class="datatable__button">Insert answer</button>
        </fieldset>
    </form>
    </form>
</div>

<script src="jquery-3.3.1.min.js"></script>
<script src="scriptUser.js"></script>

</body>
</html>